body {
	background-image: url("../images/background.jpg");
	font-family: 'Palanquin Dark', sans-serif;
}

.container {
	font-family: 'Palanquin Dark', sans-serif;
	height: auto;
	width: 100%;
}

.jumbotron {
	margin-top: 2%;
	opacity: 0.8;
}

.panel {
	opacity: 0.8;
	font-weight:800;
}

.panel > .panel-heading {
    background-color: green;
    color: white;
}

#addTrainBtn {
    background-color: green;
    color: white;
    border: none;
}